// @import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";


// @import "compass/css3";

// @import url(https://fonts.googleapis.com/css?family=Lato:300,400,700);


.divi {
  height: 100vh;
  top: 0;
  background: #3f9f3f;
  color: #fff;
  overflow: hidden;
  width:100%;
  margin:0px;

   }


.popicon {
  background-size: 100%;
  background: url("/assets/img/laravel.png");
  position: absolute;
  top: 180px;
  height: 1px;
  width: 1px;
  left: 250px;
  transition: transform 0.2s; }

.popicon.popped {
  transform: scale(150, 150); }


.projectsRow {


}

.projectsRow .col-md-4:hover {
  cursor: pointer;

}

.projectPic {
  background: no-repeat url("/assets/img/lionel.jpg");
  background-size: cover;
  background-position: center;
  width: 200px;
  height: 300px;
  margin: auto;
  border: solid 1px white;
  transition: width 0.2s; }

.col-md-4:hover .projectPic {
  width: 360px;
}

.projectPic2 {
  background: no-repeat url("/assets/img/lionel.jpg");
  background-size: cover;
  background-position: center;
  width: 200px;
  height: 300px;
  margin: auto;
  border: solid 1px white;
  transition: width 0.2s; }

.col-md-4:hover .projectPic2 {
  width: 326px; }

.projectTitle {
  width: 100%; 
  margin: 20px auto 0 0;
  text-align:center;
  /*border:solid 1px red;*/
}

.col-md-4:hover .projectTitle {
  text-decoration: underline; 
  
}

.projectText {
  width: 300px; 
  margin: auto;
  /*border:solid 1px red;*/
}

.col-md-4:hover .projectText {
  text-decoration: underline; 
}

.google-maps {
    position: relative;
    padding-bottom: 15%; // This is the aspect ratio
    height: 0;
    overflow: hidden;
}
.google-maps iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100% !important;
    height: 100% !important;
}

.diamond {
    position: absolute;
    bottom: -70px;
    left: 50%;
    margin: 0 0 0 -50px;
    border: transparent 50px solid;
    border-right-color: #fff;
    border-left-color: #fff;
    border-bottom-color: #fff;
}

.diamond::after {
    content: '';
    width: 2000px;
    height: 100px;
    background: #fff;
    position: absolute;
    bottom: -50px;
    right: 50px;
}

.diamond::before {
    content: '';
    width: 2000px;
    height: 100px;
    background: #fff;
    position: absolute;
    bottom: -50px;
    left: 50px;
}


.diamond2 {
    position: absolute;
    bottom: 0px;
    width: 120px;
    height: 10px;
    left: 50%;
    margin: 0 0 0 -60px;
    border: transparent 40px solid;
    border-right-color: #3f9f9f;
    border-left-color: #3f9f9f;
    border-bottom-color: #3f9f9f; }

.diamond2::after {
  content: '';
  width: 2000px;
  height: 90px;
  background: #3f9f9f;
  position: absolute;
  bottom: -50px;
  right: 80px; }

.diamond2::before {
  content: '';
  width: 2000px;
  height: 90px;
  background: #3f9f9f;
  position: absolute;
  bottom: -50px;
  left: 80px; 
}

.carousel-inner > .item > img,
.carousel-inner > .item > a > img {
  width: 70%;
  height: 300px;
  margin: auto; }

#mysticCarousel .carousel-indicators li {
  width: 0px;
  height: 0px;
}

/* Indicators images style */
#mysticCarousel .carousel-indicators div {
border-radius: 50px;
cursor: pointer;
  background-size: 100%;
  background: url("/assets/img/icon-1.png");
  color: white;
  position: absolute;
  bottom: 80px;
  font-size: 50px;
  height: 100px;
  width: 100px;
  left: -250px;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  transition: transform 1s;}


#mysticCarousel .carousel-indicators div:hover {
  transform: rotate(360deg); }


/* Indicators active image style */
#mysticCarousel .carousel-indicators .active div {
  opacity: 0.5; 
  cursor:default;}

/* Indicators active image style */
#mysticCarousel .carousel-indicators .active div:hover {
  transform: none;}


.col-md-8 {
 margin-top: 90px; 
}

.row1{
  
}

.container1{

    
}

.col-md-4 1{
  
}

.col-md-4 2{
  
}

.col-md-4 3{
  
}

.col-md-4 4{
  

}
.col-sm6 1{
  
}


.text3{
  
  color:white;
  padding-left: 20px;
  border-left: 1px solid white;
  position:absolute; 
  font-size:18px; 
  margin-left:20%; 
  margin-right:30%;
  }

.icon3{
  
  background:url('assets/img/icon-3.png');
  background-size:100%;
  left: 250px;
 }




 /* Triangles */
.ss-style-triangles::before,
.ss-style-triangles::after {
  left: 50%;
  width: 100px;
  height: 100px;
  -webkit-transform: translateX(-50%) rotate(45deg);
  transform: translateX(-50%) rotate(45deg);
}

.ss-style-triangles::before {
  top: -50px;
}

.ss-style-triangles::after {
  bottom: -50px;
  z-index: 10;
  background: inherit;
}

/* Double Diagonal line */

.ss-style-doublediagonal {
  z-index: 1;
  padding-top: 6em;
  
}

@media screen and (max-height:652px) {

.midsize-icons {
   top:-75px;
  }


}
@media screen and (max-width:991px) and (min-width: 768px){

.row2{
  margin-left: 5px;
}
.about{
  margin-left: 10px;
}
.col-sm-6 1{

 float:right;
 margin-top: 0px;
}
.col-md-8{

 float:right;
 margin-top: 0px; 
}
.midsize-icons {
   top:-75px;
  }
.row1{
 overflow: scroll;
 max-width:991px;
 max-height:500px;
  }

.container1{
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-orient: v;
    -moz-box-orient: vertical;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    /* optional */
    -webkit-box-align: start;
    -moz-box-align: start;
    -ms-flex-align: start;
    -webkit-align-items: flex-start;
    align-items: flex-start;
    flex-direction: inherit;
    overflow-x: scroll;
    height:100%;
    width:100%;
}

.col-md-4 1{
  -webkit-box-ordinal-group: 1;
    -moz-box-ordinal-group: 1;
    -ms-flex-order: 1;
    -webkit-order: 1;
    order: 1;


}
.col-md-4 2{
  -webkit-box-ordinal-group: 2;
    -moz-box-ordinal-group: 2;
    -ms-flex-order: 2;
    -webkit-order: 2;
    order: 2;


}
.col-md-4 3{
  
-webkit-box-ordinal-group: 3;
    -moz-box-ordinal-group: 3;
    -ms-flex-order: 3;
    -webkit-order: 3;
    order: 3;

}
.projectPic {
  background: no-repeat url("/assets/img/lionel.jpg");
  background-size: cover;
  background-position: center;
  width: 360px;
  height: 300px;
  margin: auto;
  border: solid 1px white;
  transition: width 0.2s; }
  .moze{
  width:100%;
  }

}

@media screen and (max-width:1199px) and (min-width: 992px){
  

.voz{
  text-align: center;
  width: 150%;
}



  .midsize-icons {
   top:-75px;
  }

.col-sm-6 1{

 float:right;
}
.col-md-8{

 float:right;
 padding-left:50px; 
}


.moze{
  width:100%;
}


.container1{
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-orient: v;
    -moz-box-orient: vertical;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    /* optional */
    -webkit-box-align: start;
    -moz-box-align: start;
    -ms-flex-align: start;
    -webkit-align-items: flex-start;
    align-items: flex-start;
    flex-direction: inherit;
    overflow-x: scroll;
    height:100%;
    width:100%;
}

.col-md-4 1{
  -webkit-box-ordinal-group: 1;
    -moz-box-ordinal-group: 1;
    -ms-flex-order: 1;
    -webkit-order: 1;
    order: 1;


}
.col-md-4 2{
  -webkit-box-ordinal-group: 2;
    -moz-box-ordinal-group: 2;
    -ms-flex-order: 2;
    -webkit-order: 2;
    order: 2;


}
.col-md-4 3{
  
-webkit-box-ordinal-group: 3;
    -moz-box-ordinal-group: 3;
    -ms-flex-order: 3;
    -webkit-order: 3;
    order: 3;

}
.projectPic {
  background: no-repeat url("/assets/img/lionel.jpg");
  background-size: cover;
  background-position: center;
  width: 360px;
  height: 300px;
  margin: auto;
  border: solid 1px white;
  transition: width 0.2s; }

}


@media screen and (max-width:768px){
  

 .about{
  margin-left: 10px;
 }


 .row2{
  margin-left: 5px;
 }


  .divi {
  height: 100vh;
  top: 0;
  background: #3f9f3f;
  color: #fff;
  overflow: hidden;
  width:100%;
  margin:0px;
  }
  .moze{
  width:100%;
  }
 .diamond {
    position: absolute;
    bottom: -70px;
    left: 50%;
    margin: 0 0 0 -50px;
    border: transparent 50px solid;
    border-right-color: #fff;
    border-left-color: #fff;
    border-bottom-color: #fff;
    max-width:500px;
}

.diamond::after {
    content: '';
    max-width:500px;
    height: 100px;
    background: #fff;
    position: absolute;
    bottom: -50px;
    right: 50px;
}

.diamond::before {
    content: '';
    max-width:500px;
    height: 100px;
    background: #fff;
    position: absolute;
    bottom: -50px;
    left: 50px;
}


.diamond2 {
    position: absolute;
    bottom: 0px;
    max-width:500px;
    height: 10px;
    left: 50%;
    margin: 0 0 0 -60px;
    border: transparent 40px solid;
    border-right-color: #3f9f9f;
    border-left-color: #3f9f9f;
    border-bottom-color: #3f9f9f;
    margin-top: 5px; }

.diamond2::after {
  content: '';
  max-width:500px;
  height: 90px;
  background: #3f9f9f;
  position: absolute;
  bottom: -50px;
  right: 80px; }

.diamond2::before {
  content: '';
  max-width:500px;
  height: 90px;
  background: #3f9f9f;
  position: absolute;
  bottom: -50px;
  left: 80px; 
} 

.popicon {
  background-size: 100%;
  background: url("/assets/img/laravel.png");
  position: absolute;
  transition: transform 0.2s; 
  }



.popicon.popped {
  transform: scale(150, 150);
  position:initial;
  margin-top:5px; 
  }
  
.col-md-8{
 margin-top:0px; 
}

.row1{
 overflow: scroll;
 max-width:500px;
 max-height:500px;
  }

.container1{
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-orient: v;
    -moz-box-orient: vertical;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    /* optional */
    -webkit-box-align: start;
    -moz-box-align: start;
    -ms-flex-align: start;
    -webkit-align-items: flex-start;
    align-items: flex-start;
    flex-direction: inherit;
    overflow-x: scroll;
    height:100%;
    width:100%;
}

.col-md-4 1{
  -webkit-box-ordinal-group: 1;
    -moz-box-ordinal-group: 1;
    -ms-flex-order: 1;
    -webkit-order: 1;
    order: 1;


}
.col-md-4 2{
  -webkit-box-ordinal-group: 2;
    -moz-box-ordinal-group: 2;
    -ms-flex-order: 2;
    -webkit-order: 2;
    order: 2;


}
.col-md-4 3{
  
-webkit-box-ordinal-group: 3;
    -moz-box-ordinal-group: 3;
    -ms-flex-order: 3;
    -webkit-order: 3;
    order: 3;

}
.text3{
  
  color:white;
  padding-left: 20px;
  border-left: 1px solid white;
  position:absolute; 
  font-size:18px; 
  margin-left:2%;
  margin-right:3%;
  } 
.projectPic {
  background: no-repeat url("/assets/img/lionel.jpg");
  background-size: cover;
  background-position: center;
  width: 360px;
  height: 300px;
  margin: auto;
  border: solid 1px white;
  transition: width 0.2s; }


}
