// @import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";

.divi {
  height: 100vh;
  top: 0;
  background: #3f9f3f;
  color: #fff; }


.popicon {
  background-size: 100%;
  background: url("/assets/img/laravel.png");
  position: absolute;
  top: 180px;
  height: 1px;
  width: 1px;
  left: 250px;
  transition: transform 0.2s; }

.popicon.popped {
  transform: scale(150, 150); }


.projectsRow {

}

.projectsRow .col-md-4:hover {
  cursor: pointer;

}

.projectPic {
  background: no-repeat url("/assets/img/lionel.jpg");
  background-size: cover;
  background-position: center;
  width: 200px;
  height: 300px;
  margin: auto;
  border: solid 1px white;
  transition: width 0.2s; }

.col-md-4:hover .projectPic {
  width: 360px;
}

.projectPic2 {
  background: no-repeat url("/assets/img/lionel.jpg");
  background-size: cover;
  background-position: center;
  width: 200px;
  height: 300px;
  margin: auto;
  border: solid 1px white;
  transition: width 0.2s; }

.col-md-4:hover .projectPic2 {
  width: 326px; }

.projectTitle {
  width: 100%; 
  margin: 20px auto 0 0;
  text-align:center;
  /*border:solid 1px red;*/
}

.col-md-4:hover .projectTitle {
  text-decoration: underline; 
  
}

.projectText {
  width: 300px; 
  margin: auto;
  /*border:solid 1px red;*/
}

.col-md-4:hover .projectText {
  text-decoration: underline; 
}

.google-maps {
    position: relative;
    padding-bottom: 15%; // This is the aspect ratio
    height: 0;
    overflow: hidden;
}
.google-maps iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100% !important;
    height: 100% !important;
}

.diamond {
    position: absolute;
    bottom: -70px;
    left: 50%;
    margin: 0 0 0 -50px;
    border: transparent 50px solid;
    border-right-color: #fff;
    border-left-color: #fff;
    border-bottom-color: #fff;
}

.diamond::after {
    content: '';
    width: 2000px;
    height: 100px;
    background: #fff;
    position: absolute;
    bottom: -50px;
    right: 50px;
}

.diamond::before {
    content: '';
    width: 2000px;
    height: 100px;
    background: #fff;
    position: absolute;
    bottom: -50px;
    left: 50px;
}


.diamond2 {
    position: absolute;
    bottom: 0px;
    width: 120px;
    height: 10px;
    left: 50%;
    margin: 0 0 0 -60px;
    border: transparent 40px solid;
    border-right-color: #3f9f9f;
    border-left-color: #3f9f9f;
    border-bottom-color: #3f9f9f; }

.diamond2::after {
  content: '';
  width: 2000px;
  height: 90px;
  background: #3f9f9f;
  position: absolute;
  bottom: -50px;
  right: 80px; }

.diamond2::before {
  content: '';
  width: 2000px;
  height: 90px;
  background: #3f9f9f;
  position: absolute;
  bottom: -50px;
  left: 80px; 
}

.carousel-inner > .item > img,
.carousel-inner > .item > a > img {
  width: 70%;
  height: 300px;
  margin: auto; }

#mysticCarousel .carousel-indicators li {
  width: 0px;
  height: 0px;
}

/* Indicators images style */
#mysticCarousel .carousel-indicators div {
border-radius: 50px;
cursor: pointer;
  background-size: 100%;
  background: url("/assets/img/icon-1.png");
  color: white;
  position: absolute;
  bottom: 80px;
  font-size: 50px;
  height: 100px;
  width: 100px;
  left: -250px;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  transition: transform 1s;}


#mysticCarousel .carousel-indicators div:hover {
  transform: rotate(360deg); }


/* Indicators active image style */
#mysticCarousel .carousel-indicators .active div {
  opacity: 0.5; 
  cursor:default;}

/* Indicators active image style */
#mysticCarousel .carousel-indicators .active div:hover {
  transform: none;}
